.rectangle {
  margin: 10px 40px 40px 40px;
  width: 80%;
  display: flex;
  justify-content: center;
  display: inline-block;
  padding: 15px;
  padding-right: 20px;
  background-color: white;
  font-size: 14px;
  text-align: justify;
  border: 2px solid #000000;
  box-shadow: 15px 15px 0 -2px #d4d4d4, 15px 15px 0 0 black;
}

@media (min-device-width: 1080px) {
  .rectangle {
    width: 50%;
  }
}
