.rectangle {
  background-color: #ffffff;
  margin: 25px;
  width: 80%;
  display: flex;
  justify-content: center;
  display: inline-block;
  padding: 0;
  border: 2px solid #000000;
  box-shadow: 15px 15px 0 -2px #ffffff, 15px 15px 0 0 black;
}
@media (min-device-width: 1080px) {
  .rectangle {
    max-width: 40%;
    display: grid;
    grid-template-columns: auto auto;
  }
}
.image {
  width: 100%;
  object-fit: fill;
}
@media (min-device-width: 1080px) {
  .image {
    height: 100%;
    min-width: 150px;
    object-fit: cover;
  }
}
.info {
  display: grid;
  padding: 15px;
  height: 230px;
  justify-items: center;
  border-top: solid 2px;
}
@media (min-device-width: 1080px) {
  .info {
    border-top: initial;
    border-left: solid 2px;
    min-width: 100px;
    align-content: center;
    height: 100%;
  }
}
.info__title {
  margin: 0;
  font-size: 20px;
}
.info__description {
  font-size: 12px;
}
@media (min-device-width: 1080px) {
  .info__description {
    font-size: 18px;
  }
}
.info__links {
  display: flex;
  justify-content: space-around;
  align-self: end;
}
.button {
  text-decoration: none;
  border: solid 1px;
  padding: 4px 10px;
  font-size: 15px;
  margin: 5px;
  color: black;
}
.button:hover {
  background-color: lightgray;
}
