.rectangle {
  margin: 25px;
  display: flex;
  max-width: 40%;
  text-align: center;
  justify-content: center;
  display: inline-block;
  padding: 15px;
  padding-right: 20px;
  font-size: 24px;
  border: 2px solid #000000;
  background-color: #ffa296;
  transform: skew(-10deg);
  box-shadow: -10px 10px 0 -2px #ca8c83, -10px 10px 0 0 black;
}
