.rectangle {
  margin: 25px;
  display: flex;
  max-width: 40%;
  text-align: center;
  justify-content: center;
  display: inline-block;
  padding: 10px;
  font-size: 24px;
  font-weight: bolder;
  border: 2px solid #1c1857;
  background-color: #84ac89;
  color: #1c1857;
  box-shadow: -10px 10px 0 -2px #6e9272, -10px 10px 0 0 #1c1857;
}
