.rectangle {
  margin: 12px;
  background-color: #ffffff;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  display: inline-block;
  padding: 5px;
  font-size: 12px;
  font-weight: 500;
  border: 2px solid #000000;
  transform: skew(-15deg);
  box-shadow: -5px -5px 0 -2px #ffffff, -5px -5px 0 0 black;
}

@media (min-device-width: 1080px) {
  .rectangle {
    font-size: 12px;
  }
}

.span {
  color: white;
  font-size: 12px;
}
