.header {
  display: grid;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}
.about_me {
  display: grid;
  justify-items: center;
  background-color: #bfceff;
}
.about_me__body {
  display: grid;
  justify-items: center;
}
@media (min-width: 600px) {
  .about_me__body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.portfolio {
  background-color: #fffeca;
}
.portfolio__title {
  display: flex;
  justify-content: center;
}
