.header {
  display: grid;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}
.about_me {
  display: grid;
  justify-items: center;
  background-color: #adadad;
  padding-bottom: 40px;
}
.about_me__body {
  display: grid;
  justify-items: center;
  gap: 30px;
  padding: 50px 0 25px 0;
}
@media (min-device-width: 1080px) {
  .about_me__body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.portfolio {
  background-color: #d0cfda;
  padding-bottom: 40px;
}
.portfolio__title {
  display: flex;
  justify-content: center;
}
.contact {
  display: grid;
  justify-items: center;
  align-content: center;
  background-color: #ada9bb;
  padding-bottom: 40px;
}
.footer {
  padding: 20px;
  display: grid;
  justify-items: center;
  background-color: #464646;
}
