.header {
  display: grid;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}
.about_me {
  display: grid;
  justify-items: center;
  background-color: #bfceff;
  padding-bottom: 40px;
}
.about_me__body {
  display: grid;
  justify-items: center;
}
@media (min-width: 600px) {
  .about_me__body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.portfolio {
  background-color: #fffeca;
  padding-bottom: 40px;
}
.portfolio__title {
  display: flex;
  justify-content: center;
}
.contact {
  display: grid;
  justify-items: center;
  background-color: #a9e49e;
  padding-bottom: 40px;
}
.footer {
  padding: 20px;
  display: grid;
  justify-items: center;
  background-color: #464646;
}
